* {
    background-color: darkcyan;
}
#board {
    display: fixed;
    background-color: black;
    transform:translateY(50%);
    transform:translateY(260px);

}
.a, .b {
    border: 1px solid black;
    width: 65px;
    height: 65px;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    
}
.a:hover,.b:hover {
    background-color:darkseagreen ;
}
.a {
    background-color: honeydew;
}
.b {
    background-color: tan;
}
