* {
    background-color: darkcyan;
}
#board {
    
    background-color: black;
    

}
.a, .b {
    border: 1px solid black;
    width: 75px;
    height: 75px;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    
}
.a:hover,.b:hover {
    background-color:rgb(174, 255, 174) ;
}
.a {
    background-color: honeydew;
}
.b {
    background-color: tan;
}
